<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portifólio Marcelo R. Machado</title>
    <link rel="stylesheet" href="../static/css/style.css" />

    <!--Link para acessar os icones do site font-awesome-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#sobre-mim">Sobre mim</a></li>
        <li><a href="#projetos">Projetos</a></li>
        <li><a href="#habilidades">Habilidades</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </nav>

    <header id="inicio">
      <div>
        <p>
          "Não desista de seus sonhos e ideais. Não tenha medo do fracasso. A
          paciência é uma virtude para se alcançar o sucesso. Sua vida é o que
          você consegue fazer dela. É rolando no fundo dos rios que se lapidam
          os cascalhos. Quem faz muito erra muito, quem faz pouco erra pouco,
          quem não faz nada, não erra nada. Erra mais quem se omite do que quem
          erra realizando. Portanto não desista de aprender programação. Ela é
          difícil a princípio. Mas não se deixe abater perante uma dificuldade
          qualquer. Pergunte, pesquise, esforce-se para superar seus medos e
          afliçoes. Só vence o ousado. Conhecimento sem vontade amadurecida e
          esclarecida, não é nada. O importante não é ter o conhecimento e, sim,
          o que você faz com ele. Não se entregue! Não se renda!"
        </p>
        <span>Israel de Campos Avillano</span>
      </div>

      <div id="img-rocket">
        <img
          src="../static/img/escada_subindo.gif"
          alt="Escada"
        />
      </div>
      <!-- <iframe
        src= href = './assets/img/escada_subindo.gif'
        width="480"
        height="480"
        frameborder="0"
        class="giphy-embed"
        allowfullscreen
      ></iframe> -->
      
    </header>

    <section id="sobre-mim">
      <div>
        <img src="../static/img/celo.png" width="200" alt="Foto do Marcelo" />
      </div>

      <div>
        <p>
          Olá, sou Marcelo formado em Gestão de Tecnologia da Informação. Possuo
          cursos técnicos avançados em informática (hardware e software),
          atualmente estou em transição de carreira para desenvolvimento. 
          Iniciei curso de programação (FRONT END, BACK END, FULL STACK) pela Blue Tech 
          e ingressei no treinamento Oracle BRM pela Accenture Brasil. 
        </p>
      </div>
    </section>
    <section id="projetos">
     <div>
        <img src="../static/img/python.png" alt="" />
        <h2>Projeto 1</h2>
        <p>
          <b>DETETIVE</b> - Programa para solucionar um caso policial, declarando o suspeito 
          inocente ou culpado com base nas informaçoes obtidas no interrogatório.
        </p>
        
        <form method="get" action="https://github.com/machadomrm/Blue_T3C5_Mod1_Imagens-e-MP3"><button type="submit">Veja mais</button></form>

      </div>

      <div>
        <img src="../static/img/python.png" alt="" />
        <h2>Projeto 2</h2>
        <p>
          <b>JOKENPÔ</b> - Programa para escolher (Pedra, papel ou tesoura) onde o jogador interage com o 
          computador e decide quando encerrar o jogo.
        </p>
        <form method="get" action="https://github.com/machadomrm/Blue_T3C5_Mod1_Imagens-e-MP3"><button type="submit">Veja mais</button></form>
      </div>

      <div>
        <img src="../static/img/python.png" alt="" />
        <h2>Projeto 3</h2>
        <p>
          <b>JOGO INTERATIVO</b> - Jogo onde uma familia de 4 pessoas precisam sobreviver ao Gripão
          tomando decisões de vida ou morte, sobreviva até o ultimo dia para ser imunizado.  
        </p>
        <form method="get" action="https://github.com/machadomrm/Blue_T3C5_Mod1_Imagens-e-MP3"><button type="submit">Veja mais</button></form>
      </div>

      <div>
        <img src="../static/img/download.png" alt="" />
        <h2>Projeto 4</h2>
        <p>
          <b>JOGO DO HUMOR</b> Website com alteração de imagens: quando o usuário clica no botão "alterar situação" o personagem muda 
          de humor.
        </p>
        <form method="get" action="https://github.com/machadomrm/M-dulo-2---Web-Banco-de-Dados-e-Cloud-T3C5"><button type="submit">Veja mais</button></form>
      </div>
    </section>

    <section id="habilidades">
      <h2>Habilidades Técnicas</h2>

      <p>Python</p>
      <div>
        <span id="python">60%</span>
      </div>

      <p>HTML 5</p>
      <div>
        <span id="html">30%</span>
      </div>

      <p>CSS 3</p>
      <div>
        <span id="css">30%</span>
      </div>
    </section>

    <!-- Contato -->

    <section id="contato">
      <div id="redes">
        <h3>Entre em contato!</h3>

        <div id="icons">
          <a
            href="https://www.linkedin.com/in/marcelo-da-rocha-machado-38b77427/"
            target="_blank"
          >
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>

          <a href="https://github.com/machadomrm" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>

          <a href="https://www.instagram.com/machadomrm_/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <div id="form">
        <h3>Mande sua mensagem!</h3>

        <form action='/send', method='POST'>

          <label for="nome">Nome</label>
          <input id="nome" name="nome" type="text" placeholder="Digite seu nome" />

          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" placeholder="email@dominio.com" />


          <label for="mensagem">Mensagem</label>
          <textarea name="mensagem" id="mensagem" cols="10" rows="5" placeholder="Digite sua mensagem (máx 150 caracteres)"></textarea>

          <button type="submit" id="enviar">Enviar</button>
        </form>
      </div>

    </section>
    <script src="../static/js/script.js"></script>

  <footer>
       <p><i>Copyright: Marcelo da Rocha Machado</i></p>
  </footer>

    <!-- Fim do Contato -->
   
  </body>
</html>
